<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/reset.css">
    <link rel="stylesheet" href="../lib/com-base.css">
    <link rel="stylesheet" href="com-alert.css">
    <script src="../lib/jquery.js"></script>
    <script src="com-alert.js"></script>
</head>
<body>

<div class="demo clearfix">


    <button id="button">弹窗</button>


</div>
<script>
    


    $('#button').click(function(){
        $.alert('确定执行吗？',function(){
            alert('callback')
        })
    })


</script>
</body>
</html>