<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/reset.css">
    <style>
        #app{
            width:500px;
            margin: 50px auto;
        }
    </style>
    <script src="../lib/vue.js"></script>
</head>
<body>

<div id="app">

    <div>
        <span>全选</span>
        <input type="checkbox" v-model="allChecked">
    </div>

    <ul>
        <li v-for="item in list">
            <span>{{item.name}}</span>
            <input type="checkbox" :value="item.name" v-model="checked">
        </li>
    </ul>

    <input type="button" @click="clickList" value="点击我">

</div>
</body>
    <script>

        var _list = [
            {
                name:'小明',
                age:12
            },
            {
                name:'小李',
                age:11
            },
            {
                name:'小红',
                age:11
            }
        ]

        var app = new Vue({

            el:'#app',

            data:{
                list : _list,
                checked:[]
            },
            computed:{

                allChecked:{
                    get:function(){
                        if(this.checked.length == this.list.length){
                            return true;
                        }
                    },
                    set:function(value){
                        if(value){

                            this.checked = this.list.map(function(val,index){

                                return val.name;
                            })
                        }else{

                            this.checked = [];
                        }
                    }
                }
            },
            methods:{
                clickList:function(){
                    console.log(this.checked)
                }
            }

        })
    </script>
</html>














