@import "../lib/com-color.less";
.com-page{
  button{}

  .page-btn,.page-item .item-list{
    float: left;
    //height:2rem;
    min-height: 1.5rem;
    line-height: 1.5rem;
    margin-left: .2rem;
    padding:.2rem .8rem;
    border: 1px solid @cdb;
  }

  .page-btn{

  }
  .page-item{
    overflow: auto;
    float: left;
    .item-list{

    }
  }

}