@charset "utf-8";
/*@a:#49a0db;*/
.com-page .page-btn,
.com-page .page-item .item-list {
  float: left;
  line-height: 1.5rem;
  margin-left: .2rem;
  padding: .3rem .8rem;
  border: 1px solid #dbdbdb;
  cursor: pointer;
}
.com-page .page-btn:hover,
.com-page .page-item .item-list:hover {
  color: #20a0ff;
}
.com-page .active {
  background-color: #20a0ff;
  color: #fff !important;
}
.com-page .page-item {
  overflow: auto;
  float: left;
}
.com-page .page-item .item-list:last-child {
  display: none;
}
.com-page .page-item [data-name='more'] {
  display: none;
}
.com-page .page-item [data-name='more'] i {
  position: relative;
  display: inline-block;
  width: 2px;
  height: 2px;
  margin: 0 1px;
  border-radius: 100%;
  vertical-align: middle;
  background-color: #999;
}
.com-page .page-item [data-name='more']:hover i {
  background-color: #20a0ff;
}
