@import "../lib/com-color.less";
.sel-search{
  display: inline-block;
  width:100%;
  /*选中的样式*/
  .active{background-color:@cf2;}
  //列表
  .search-item{
    position: relative;
    color:@c6;
    .item-list{
      width:100%;
      padding:5px 8px;
      border-left:1px solid @cdb;
      border-right:1px solid @cdb;
      border-bottom:1px solid @cdb;
      font-size: 12px;
      cursor:pointer;
      &:hover{background-color:@cf2;}

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

}