.sel-search {
  /*选中的样式*/
  display: inline-block;
  width: 12rem;
}
.sel-search .active {
  background-color: #f2f2f2;
}
.sel-search .search-item {
  position: relative;
  color: #666;
}
.sel-search .search-item .item-list {
  width: 100%;
  padding: .3rem .5rem;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sel-search .search-item .item-list:hover {
  background-color: #f2f2f2;
}
