

.com-search{
  position: relative;
  display: inline-block;
  width:14rem;
  height:2rem;
  padding:.1rem .5rem;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  transition:border 0.5s;
  &:hover{
    border: 1px solid #ccc;
  }
  input{
    width:80%;
    height:100%;
  }
  .searchImg{
    width:1.9rem;
    cursor: pointer;
  }
}