@charset "utf-8";
/*@a:#49a0db;*/
.com-search {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 32px;
  padding: 2px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}
.com-search input {
  display: inline-block;
  width: 80%;
  height: 100%;
}
.com-search .searchImg {
  float: right;
  height: 95%;
  cursor: pointer;
}
