@charset "utf-8";
/*@a:#49a0db;*/
.com-check label {
  display: inline-block;
}
.com-check .box-add {
  background-color: #999;
}
.com-check .box {
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
  display: inline-block;
}
