@import "../lib/com-color.less";
.com-check{

  label{display: inline-block;}

  .box-add{
    background-color: @c9;
  }

  .box{
    width:1rem;
    height:1rem;
    border: 2px solid @cc;
    display: inline-block;
  }
}