@charset "utf-8";
/*@a:#49a0db;*/
.com-select {
  display: inline-block;
  position: relative;
  width: 100%;
  color: #333;
  /*图标特定样式覆盖*/
}
.com-select .sel-item {
  display: block;
}
.com-select .sel-head {
  display: inline-block;
  width: 100%;
  min-height: 2rem;
  padding: .1rem .5rem;
  padding-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  cursor: pointer;
}
.com-select .sel-head:hover {
  background-color: #f2f2f2;
}
.com-select .sel-content {
  position: absolute;
  width: 100%;
  text-align: left;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  z-index: 10;
  background-color: #fff;
  box-shadow: 1px 1px 2px #ebebeb;
}
.com-select .sel-content .sel-list {
  padding: .4rem;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.com-select .sel-content .sel-list:hover {
  background-color: #f2f2f2;
}
.com-select .icon-arrow-down:before {
  position: absolute;
  left: 100%;
  top: .5rem;
  margin-left: -1.1rem;
  color: #666;
}
