.com-select {
  position: relative;
  width: 10rem;
  color: #333;
  /*图标特定样式覆盖*/
}
.com-select .sel-item {
  display: inline-block;
}
.com-select .sel-head {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 2rem;
  padding: .1rem .5rem;
  padding-right: 1rem;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  cursor: pointer;
}
.com-select .sel-content {
  position: absolute;
  width: 100%;
  text-align: left;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.04);
}
.com-select .sel-content .sel-list {
  padding: .4rem;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.com-select .sel-content .sel-list:hover {
  background-color: #f2f2f2;
}
.com-select .arrow-down2:after {
  left: 100%;
  top: 10px;
  margin-left: -14px;
}
