<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="less/table.css">
</head>
<body>


    <div class="table">

        <div class="tr">
            <div class="td">名字</div>
            <div class="td">年龄</div>
        </div>

        <div class="tr">
            <div class="td">fsdffsdf</div>
            <div class="td">18</div>
        </div>
        <div class="tr">
            <div class="td">fsdffsdffdsf是的范德萨是的发送到发送到肥嘟</div>
            <div class="td">2000000000</div>
        </div>

    </div>




</body>
</html>