@charset "utf-8";
/*@a:#49a0db;*/
.com-select {
  display: inline-block;
  position: relative;
  width: 100%;
  color: #333;
  /*图标特定样式覆盖*/
}
.com-select .sel-item {
  position: relative;
  display: block;
}
.com-select .sel-item:after {
  position: absolute;
  content: "";
  border-top: 4px solid #333;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.com-select .sel-head {
  display: inline-block;
  width: 100%;
  min-height: 32px;
  padding: 2px 16px 2px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  cursor: pointer;
}
.com-select .sel-head:hover {
  background-color: #f2f2f2;
}
.com-select .sel-content {
  display: none;
  position: absolute;
  width: 100%;
  text-align: left;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 2px #ebebeb;
          box-shadow: 1px 1px 2px #ebebeb;
}
.com-select .sel-content .sel-list {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.com-select .sel-content .sel-list:hover {
  background-color: #f2f2f2;
}
.com-select .icon-arrow-down:before {
  position: absolute;
  right: 0;
  margin-right: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #666;
}
