@charset "utf-8";

@import url('reset.less');
@import url('../quote/color.less');
/*common*/

@media screen and (max-width: 2000px) {
  html{font-size:15px;}
}
@media screen and (max-width: 1800px) {
  html{font-size:14px;}
}
@media screen and (max-width: 1700px) {
  html{font-size:13px;}
}
@media screen and (max-width: 1500px) {
  html{font-size:10px;}
}


/*

@media screen and (max-width: 1200px) {
  html{font-size:20px;}
}
@media screen and (max-width: 550px) {
  html{font-size:14px;}
}
@media screen and (max-width: 420px) {
  html{font-size:13.4px;}
}
@media screen and (max-width: 380px) {
  html{font-size:12px;}
}
@media screen and (max-width: 370px) {
  html{font-size:10px;}
}

*/

body{
  font-size: 1.2rem;
}
/*=============全局样式===============*/

h1{font-size:2rem;}
h2{font-size: 1.8rem;}
h3{font-size: 1.6rem;}
h4{font-size: 1.4rem;}
h5{font-size: 1.3rem;}
// 标题样式

//文件目录结构
// 主题框架主样式/分页面框架主样式
// 子级页面表单样式/行列主样式
// 图片/头像主样式


