@charset "utf-8";
/*@a:#49a0db;*/
.com-check {
  display: inline-block;
}
.com-check label {
  display: inline-block;
  cursor: pointer;
}
.com-check label input[type='checkbox'] {
  display: none;
}
.com-check label i,
.com-check label span {
  vertical-align: middle;
}
.com-check .box-add {
  background-color: #20a0ff;
}
.com-check .box-add:after {
  box-sizing: content-box;
  content: "";
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
  width: 3px;
  height: 7px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3.5px;
  margin-top: -1px;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
  transition: -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
  transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
  transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s, -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.com-check .check-box {
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block;
}
